redirectsOrigin = "config"
plugins = []
headers = []

[functions]

[functions."*"]

[build]
publish = "/Users/tedueda/CascadeProjects/windsurf-project/rainbow_community/frontend/dist"
publishOrigin = "config"
commandOrigin = "config"
base = "/Users/tedueda/CascadeProjects/windsurf-project/rainbow_community/frontend"
command = "npm run build"

[build.environment]
VITE_API_URL = "https://ddxdewgmen.ap-northeast-1.awsapprunner.com"
VITE_API_BASE_URL = "https://ddxdewgmen.ap-northeast-1.awsapprunner.com"

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]